@font-face {
    font-family: "huynen";
    src: url("../fonts/Karinhuynen-Regular.otf");
}
@font-face {
    font-family: "sketchy";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}

$mainFont: "huynen";
$secondaryFont: "sketchy";

$dark: #14191d;
$greyish: #3f4952;
$blue: #45818E;
$lightBlue: #adbac2;


html{
    font-size: 100%;
    font-family: $mainFont;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
input {
    filter: none;
}


body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $dark;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1#title{
    font-size: 7rem;
    text-align: center;
    position: relative;
}
h1#title::before{
    content: "";
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    top: -2.4rem;
    left: -2.8rem;
    background-image: url(../images/twoLeafs.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert(100%);
    transform: scaleX(-1);
}
h1#title::after{
    content: "";
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
    bottom: 0.7rem;
    right: -2rem;
    background-image: url(../images/oneLeaf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    filter: invert(100%);
}
h3#subtitle{
    color: $lightBlue;
    font-size: 1.75rem;
    font-family: $secondaryFont;
    text-align: center;
    margin-bottom: 2rem;
}
.logo{
    width: 50rem;
    fill: #fff;
}
div.btn{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;
}
div.explanation{
    width: 70%;
    //background: red;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    border: 2px dashed $greyish;
    padding: 1rem;
}
div.explanation img{
    width: 100px;
    float: left;
}
div.explanation p{
    position: relative;
    float: left;
    font-size: 1.25rem;
    //background: green;
    width: auto;
    text-align: left;
    text-transform: None;
    font-family: $secondaryFont;
    cursor: default;
    margin-left: 1rem;
}
div.btn a{
    position: relative;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 6px;
    border-color: rgba(255,255,255,0.7);
    border-style: double dashed;
    background-color: transparent;
    cursor: pointer;
    transition: all linear 300ms;
}
div.btn::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 6px;
    border-color: #fff;
    border-style: solid;
    width: 12rem;
    height: 12rem;
    opacity: 0;
    cursor: pointer;
    transition: all linear 300ms;
}
div.btn p{
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: rgba(255,255,255,0.7);
    font-family: $mainFont;
    cursor: pointer;
    transition: all linear 200ms;
}
p.story{
    font-size: 1rem;
    width: 80%;
    position: relative;
    text-transform: none;
    cursor: default;
    margin-bottom: 2rem;
    text-transform: none;
}
div.btn:hover::before{
    opacity: 1;
    transition: all linear 300ms;
}
div.btn:hover > a{ 
    border-color: rgba(255,255,255,1);
    transform: rotate(180deg);
    transition: all linear 300ms;
}
div.btn:hover > p{
    color: rgba(255,255,255,1);
    font-size: 1.9rem;
    transition: all linear 200ms;
}

//App
#sceneCanvas{
    width: 100vw;
    height: 100vh;
}

#dialogue{
    width: 415px;
    height: 290px;
    z-index: 3;
    position: absolute;
    bottom: 30px;
    background-image: url("../images/dialogueUI.png");
    background-position: center center;
    background-size: cover;
}
#dialoguePerson{
    font-size: 1rem;
    color: $greyish;
    width: 120px;
    transform: rotate(-3deg);
    text-align: center;
    text-transform: uppercase;
    font-family: $mainFont;
    position: relative;
    top: 24px;
    left: 44px;
}
#dialogueDescription{
    max-height: 201px;
    width: 332px;
    left: 38px;
    position: relative;
    top: 45.2px;
    font-family: $secondaryFont;
    font-size: 1.1rem;
    overflow-y: scroll;
    padding: 8px 10px;
    scrollbar-width: thin;
    scrollbar-color: $blue #14191d9c;
}
::-webkit-scrollbar {
    width: 8px;
    background: #14191d9c;
}
::-webkit-scrollbar-thumb {
    background: $blue;
}
