@media screen and (max-width: 800px){
    h1{
        font-size: 4rem;
    }
    h1::before{
        width: 2.7rem;
        height: 2.7rem;
        top: -1.9rem;
        left: -2rem;
    }
    h1::after{
        width: 1.6rem;
        height: 1.6rem;
        bottom: 0.1rem;
        right: -1.6rem;
    }
    h3{
        font-size: 1.3rem;
        margin-top: 0.25rem;
    }
    .logo{
        width: 22rem;
    }
    a::selection{
        color: transparent;
    }
}